a.product {
    display: block;
    margin: 10px 0 0 0;
    text-decoration: none;
    color: inherit;
}

div.entry {
    margin: 10px 0 0 0;
}

span.pull-right {
    margin-left: 160px;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}